.picCard {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform .3s linear;
}

.picCard img {
  margin: 5px;
  width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 4px #ccc;
}

.picCard img:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: transform 1s;
  box-shadow: none;
}
